@model CreateViewModel;

@{
    ViewData["Title"] = "Zaevidovanie knihy";
}

<div class="container p-2">
    <div class="row p-2">
        <div class="col-12">
            <h1 class="display-5">@ViewData["Title"]</h1>
        </div>
    </div>

    <div class="row p-2">
        <div class="col-6">
            <form asp-controller="@BookController.NAME" asp-action="@BookController.ACTION_CREATE" method="post">
                <div class="form-group mb-2">
                    <label asp-for="Author" class="control-label"></label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group mb-2 w-25">
                    <label asp-for="Year" class="control-label"></label>
                    <input asp-for="Year" type="number" class="form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" type="text" class="form-control" />
                </div>
                @if (TempData["msg"] != null)
                {
                    <div class="form-group text-danger">
                        @TempData["msg"]
                    </div>
                }
                <div class="form-group pt-3">
                    <a asp-controller="@BookController.NAME" asp-action="@BookController.ACTION_INDEX" class="btn btn-outline-secondary">
                        <i class="bi bi-arrow-left-circle"></i>&nbsp;&nbsp;Späť
                    </a>
                    <button type="submit" class="btn btn-primary">Uložiť</button>
                </div>
            </form>
        </div>
 
        <div class="col-6">
            <img class="d-block m-auto" src="~/img/book.png" />
        </div>
    </div>
</div>