@model DeleteViewModel;

@{
    ViewData["Title"] = "Vymazanie knihy";
}

<div class="container p-2">
    <div class="row p-2">
        <div class="col-12">
            <h1 class="display-5">@ViewData["Title"]</h1>
        </div>
    </div>

    <div class="row p-2">
        <div class="col-6">
            <form asp-controller="@BookController.NAME" asp-action="@BookController.ACTION_DELETE" method="post">
                <p>
                    Chcete skutočne vymazať knihu <b>@Model.Author</b>: <b>@Model.Name</b> ?
                </p>
                <div class="form-group pt-3">
                    <a asp-controller="@BookController.NAME" asp-action="@BookController.ACTION_INDEX" class="btn btn-outline-secondary">
                        <i class="bi bi-arrow-left-circle"></i>&nbsp;&nbsp;Späť
                    </a>
                    <button type="submit" class="btn btn-danger">Vymazať</button>
                </div>
            </form>
        </div>
 
        <div class="col-6">
            <img class="d-block m-auto" src="~/img/book.png" />
        </div>
    </div>
</div>