@using AdaSoftLibrary.Domain.Enums;

@model BooksViewModel;

@{
    ViewData["Title"] = "Knihy";
}

<div class="container p-2">
    <div class="row p-2">
        <div class="col-3">
            <h1 class="display-5">@ViewData["Title"]</h1>
        </div>
        <div class="col-3 pt-4">
            @if (!string.IsNullOrEmpty(Model.Search.ToString()))
            {
                <label asp-for="@Model.Search.SearchTerm" class="control-label fw-bolder"></label><span>:&nbsp;@Model.Search.ToString()</span>
            }
        </div>
        <div class="col-3 pt-3 text-end">
            @using (Html.BeginForm())
            {
                <select asp-for="Search.BookFilter" asp-items="@Html.GetEnumSelectList<BookFilterEnum>()" class="form-control" onchange="this.form.submit();"></select>
            }
        </div>
        <div class="col-3 pt-3 text-end">
            @if (Model.IsAuthenticated)
            {
                <a asp-controller="@BookController.NAME" asp-action="@BookController.ACTION_CREATE" class="btn btn-success">
                    <i class="bi bi-plus-circle"></i>&nbsp;&nbsp;Zaevidovať knihu
                </a>
            }
            <a asp-controller="@BookController.NAME" asp-action="@BookController.ACTION_INDEX" class="btn btn-outline-secondary" title="Obnovit">
                <i class="bi bi-arrow-repeat"></i>
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped mw-100">
        <thead>
            <tr>
                <th>Autor</th>
                <th>Názov</th>
                <th>Rok</th>
                @if (Model.IsAuthenticated)
                {
                    <th>Meno čitateľa</th>
                }
                <th>Dátum zapožičania</th>
                <th>@(Model.IsAuthenticated ? "Akcie" : "Dostupnosť")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.Books)
            {
                <tr>
                    <td width="25%">@book.Author</td>
                    <td width="25%">@book.Name</td>
                    <td width="5%">@book.Year</td>
                    @if (Model.IsAuthenticated)
                    {
                        <td width="20%">@book.Reader</td>
                    }
                    <td width="15%">@book.BorrowedFrom</td>
                    <td width="10%" class="text-center">
                        <div>
                            @if (Model.IsAuthenticated)
                            {
                                <a asp-controller="@BookController.NAME" asp-action="@BookController.ACTION_DETAIL" asp-route-id="@book.ID" class="btn btn-sm btn-outline-secondary" title="Detail knihy"><i class="bi bi-book"></i></a>
                                <a asp-controller="@BookController.NAME" asp-action="@BookController.ACTION_EDIT" asp-route-id="@book.ID" class="btn btn-sm btn-outline-primary" title="Editovať"><i class="bi bi-pencil-square"></i></a>
                                <a asp-controller="@BookController.NAME" asp-action="@BookController.ACTION_DELETE" asp-route-id="@book.ID" class="btn btn-sm btn-outline-danger" title="Vymazať"><i class="bi bi-trash3"></i></a>
                            }
                            else
                            {
                                @if (!book.IsBorrowed)
                                {
                                    <a asp-controller="@BookController.NAME" asp-action="@BookController.ACTION_DETAIL" asp-route-id="@book.ID" class="btn btn-sm btn-secondary"><i class="bi bi-book"></i>&nbsp;&nbsp;Objednať</a>
                                }
                                else
                                {
                                    <i class="text-muted">Požičaná</i>
                                }
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row p-2">
        <div class="col-6">
            <p><b>@Html.LabelFor(x => x.BooksCount)</b><span>:&nbsp;@Model.BooksCount</span></p>
        </div>
    </div>
</div>